body {
  font-family: sans-serif;
}

.card-container {
  overflow: hidden;
  flex: 1 1 0px;
  margin: 10px 10px;
  border: 5px solid black;
  min-height: 200px;
  box-shadow: 10px 10px;
}

.card-header {
  font-size: 2.5rem;
}

.card-body {
  font-body: 1rem;
}
