.navbar-container {
  width: 100vw;
  height: 40px;
  display: flex;
  padding: 10px 20px;
  color: white;
  background-color: black;
}

.navbar-brand {
  background-color: black;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-items-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  .nav-items-list {
    list-style: none;
    display: flex;

    .nav-item {
      margin: 0 10px;
    }
  }
}



