<div class="general-info-container">
  <div class="general-info-header">
    About us
  </div>

  <div class="general-info-body">
    We are a software consulting company dedicated to creating the best software you can imagine. We
    have a lot of experience in building the websites that you need, so you might want to contact us
    immediately so we can make the website of your dreams!
  </div>

  <profile-box-cmp
    [header]="'Sara Styles'"
    [body]="['Lead Software Developer', '5 years of experience']"
  ></profile-box-cmp>
  <profile-box-cmp
  [header]="'Larry Logane'"
  [body]="['Software Principal']"
  >
  </profile-box-cmp>
</div>
